*{
    margin: 0;
    padding: 0;
}
.Titulos h1{
    color: rgba(228, 172, 18, 0.911);
    font-family: 'PT Serif', serif;
}


body{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Titulos {
    color:  rgba(253, 187, 4, 0.911);
    font-family: 'PT Serif', serif;
    border-width: 5px 5px 5px 5px;
    border-style: solid;
    background-color: rgb(5, 53, 92);
    margin-bottom: 25px;
}

figcaption{
    color: rgba(128, 128, 128, 0.795);
    font-style: oblique;
}
.Textos{
    font-family: 'Bree Serif', serif;
    font: 40px;
}
a:visited{
    color: rgba(20, 41, 97, 0.774);
}

.Conteudo{
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Imagens{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#Imagem{
display: flex;
flex-direction: column;

}
@media  screen and (max-width: 540px){

}

